// SASS

$primary: rgb(153, 0, 150);
$info: rgb(24, 214, 71);
$prefix: 'mo-';


@import "../node_modules/bootstrap/scss/bootstrap";


/*

npm install -g sass

C:\Users\SEU-LOGIN-NA-MAQUINA\AppData\Roaming\npm\sass -w ./scss/custom.scss ./css/custom.css

// Se a variável de ambiente estiver configurada:
sass -w ./scss/custom.scss ./css/custom.css

*/