// Importa funções e variáveis
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


$theme-colors: (
    primary: #37BEB0,
    secundary: #A4E5E0,
    info: #DBF5F0,
    warning: yellow,
);

$prefix: 'mo-';

@import "../node_modules/bootstrap/scss/bootstrap";